@font-face {
  font-family: "Shrikhand";
  src: url("../polices/Shrikhand/Shrikhand-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../polices/Roboto/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Roboto-regular";
  src: url("../polices/Roboto/Roboto-Regular.ttf");
}
.before-heart {
  opacity: 1;
  transition: all 0.3s;
}
.before-heart:hover {
  opacity: 0;
}

.after-heart {
  color: transparent;
  background-image: linear-gradient(to bottom, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 0.3s;
}
.after-heart:hover {
  opacity: 1;
}

@keyframes card-apparition {
  to {
    opacity: 1;
  }
}
.loading-spinner {
  display: grid;
  place-items: center;
  position: fixed;
  background-color: #f0f0f0;
  opacity: 0.9;
  height: 100vh;
  z-index: 2;
  inset: 0;
  animation: hidde-bg 0.5s 3s forwards;
  transform-origin: top right;
}
.loading-spinner .spinner-top {
  display: grid;
  place-items: center;
  height: 100px;
  width: 100px;
  border-right: 5px solid transparent;
  border-top: 5px solid #99E2D0;
  border-radius: 50%;
  animation: loading-spinner 5s infinite linear;
}
.loading-spinner .spinner-top .spinner-bottom {
  height: 100px;
  width: 100px;
  border-left: 5px solid transparent;
  border-bottom: 5px solid #FF79DA;
  border-radius: 50%;
}

@keyframes hidde-bg {
  to {
    transform: scale(0);
  }
}
@keyframes loading-spinner {
  to {
    transform: rotate(3turn);
  }
}
@keyframes loading-spinner-reverse {
  to {
    transform: rotate(-6turn);
  }
}
* {
  font-family: "Roboto", Arial;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  display: flex;
}

a {
  text-decoration: none;
  display: flex;
  color: black;
  align-items: baseline;
}

h1, h2, h3, h4, p {
  margin: 0;
}

.main-btn {
  padding: 20px;
  border: 0;
  border-radius: 50px;
  width: 295px;
  cursor: pointer;
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  color: white;
  font-size: 145%;
  box-shadow: 0px 0px 15px #b8b8b8;
  position: relative;
  z-index: 1;
  transform: scale(1);
  transition: all 0.3s;
}
@media (min-width: 701px) {
  .main-btn {
    padding: 30px 15px 30px 15px;
    width: 300px;
    font-size: 1.35rem;
  }
}
.main-btn:hover {
  transform: scale(1.05);
}
.main-btn:hover::after {
  opacity: 1;
}
.main-btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 0 10px #787878;
  background-image: linear-gradient(to bottom, #ff8de0, #9e67e0);
  transition: all 0.3s;
  opacity: 0;
  z-index: -1;
  border-radius: 50px;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}
header figure {
  text-align: center;
  margin: 0;
  margin-bottom: 5px;
  padding: 2% 2%;
  box-shadow: 1px 0.5px 20px #858585;
}
header figure img {
  width: 40%;
}
@media (min-width: 701px) {
  header figure img {
    width: 30%;
  }
}
header .header__title {
  justify-content: flex-start;
  gap: 0 15px;
  padding: 2.5% 2.5%;
  padding-left: 33%;
  background-color: #DEDEDE;
  font-weight: 500;
  color: #454545;
  cursor: pointer;
}
@media (min-width: 701px) {
  header .header__title {
    justify-content: center;
    padding-left: 2.5%;
  }
}
header .header__title .title__icon {
  width: 8%;
  font-size: 110%;
}
@media (min-width: 701px) {
  header .header__title .title__icon {
    width: 4%;
    font-size: 165%;
  }
}
header .header__title p {
  width: 85%;
  font-size: 105%;
}
@media (min-width: 701px) {
  header .header__title p {
    font-size: 1.7rem;
    width: auto;
  }
}

.header__logo {
  margin: 0;
  padding: 35px 0 20px 0;
  box-shadow: none;
}
@media (min-width: 701px) {
  .header__logo {
    box-shadow: 1px 0.5px 20px #858585;
    padding-bottom: 30px;
  }
}
.header__logo img {
  width: 45%;
}
@media (min-width: 701px) {
  .header__logo img {
    width: 30%;
  }
}

.back-link__arrow {
  position: absolute;
  top: 40%;
  left: 7%;
  font-size: 185%;
  color: #454545;
}
@media (min-width: 701px) {
  .back-link__arrow {
    left: 5%;
    font-size: 160%;
  }
}

.menu-picture {
  width: 100%;
  height: 350px;
  margin: 0;
}
.menu-picture img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
@media (min-width: 701px) {
  .menu-picture img {
    object-position: center;
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding: 80px 0 80px 0;
  background-color: #454545;
}
@media (min-width: 701px) {
  footer {
    justify-content: center;
  }
}
footer h2 {
  font-family: "Shrikhand", Arial;
  font-weight: bold;
  font-size: 2rem;
  color: black;
  color: white;
  margin-bottom: 4.5%;
  font-size: 170%;
  margin-left: 5%;
  font-weight: 400;
}
@media (max-width: 600px) {
  footer h2 {
    font-size: 155%;
  }
}
@media (min-width: 701px) {
  footer h2 {
    margin-bottom: 3%;
    font-size: 185%;
    margin-left: 15%;
  }
}
footer ul {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}
@media (min-width: 701px) {
  footer ul {
    width: 70%;
  }
}
footer ul li {
  display: flex;
  width: 100%;
}
@media (min-width: 701px) {
  footer ul li {
    width: 50%;
  }
}
footer ul li a {
  color: white;
  font-size: 145%;
  width: 90%;
  margin-bottom: 2%;
  font-family: "Roboto-regular", Arial;
}
@media (min-width: 701px) {
  footer ul li a {
    font-size: 115%;
    margin-bottom: 5%;
  }
}
footer ul li a:hover .link__underline {
  text-decoration: underline;
}
footer ul li a p {
  font-family: "Roboto-regular", Arial;
}
footer ul li a i {
  margin-right: 10px;
  width: 30px;
}

.explore-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #f0f0f0;
  padding: 60px 0 70px 0;
  margin-bottom: 45px;
}
@media (min-width: 701px) {
  .explore-block {
    padding: 45px 0 60px 0;
  }
}
.explore-block h1 {
  text-align: center;
  margin-bottom: 3%;
  width: 60%;
  font-weight: bold;
  font-size: 2rem;
  color: black;
}
@media (max-width: 600px) {
  .explore-block h1 {
    font-size: 155%;
  }
}
.explore-block p {
  text-align: center;
  margin-bottom: 4%;
  width: 80%;
  font-size: 130%;
  font-family: "Roboto-regular", Arial;
  color: #5f5f5f;
}
@media (min-width: 701px) {
  .explore-block p {
    width: 88%;
  }
}

.operation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 60px;
}
.operation__title {
  margin-bottom: 5%;
  margin-left: 5%;
  width: 100%;
  font-weight: bold;
  font-size: 2rem;
  color: black;
}
@media (max-width: 600px) {
  .operation__title {
    font-size: 155%;
  }
}
@media (max-width: 600px) {
  .operation__title {
    margin-bottom: 7%;
  }
}

.operation__list {
  width: 95%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 30px 0;
}
@media (min-width: 701px) {
  .operation__list {
    gap: 0;
    flex-wrap: nowrap;
  }
}
.operation__list--item {
  align-items: center;
  margin: auto;
  border-radius: 30px;
  width: 80%;
  background-color: #f0f0f0;
  padding: 8% 5% 8% 5%;
  position: relative;
  box-shadow: 0px 0px 15px #b8b8b8;
  font-size: 120%;
  transform: scale(1);
  transition: all 0.3s;
  cursor: pointer;
}
.operation__list--item:hover {
  background-color: #e9ddf8;
  transform: scale(1.05);
}
.operation__list--item:hover i {
  color: #9356DC;
}
@media (min-width: 701px) {
  .operation__list--item {
    font-size: 110%;
    padding: 3% 1% 3% 1%;
    min-width: 0;
    width: 35%;
    margin-right: 3%;
    margin-bottom: 5%;
  }
}
.operation__list--item p {
  font-size: 90%;
  text-align: center;
  border-radius: 100%;
  padding: 2% 3% 2% 3%;
  color: white;
  background-color: #9356DC;
  position: absolute;
  left: -3.5%;
  top: 35%;
}
@media (min-width: 701px) {
  .operation__list--item p {
    left: -4%;
    top: 35%;
    padding: 2.5% 3.5% 2.5% 3.5%;
  }
}
.operation__list--item i {
  font-size: 145%;
  color: #5f5f5f;
  margin-left: 8%;
}
@media (min-width: 701px) {
  .operation__list--item i {
    margin-left: 10%;
  }
}
.operation__list--item h3 {
  margin-left: 8%;
  font-size: 100%;
}
@media (min-width: 701px) {
  .operation__list--item h3 {
    margin-left: 10%;
  }
}

.restaurants {
  width: 100%;
  height: 1320px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 80px 0 130px 0;
  gap: 30px 0;
  background-color: #f0f0f0;
}
@media (min-width: 701px) {
  .restaurants {
    height: 500px;
    padding: 80px 0 80px 0;
    gap: 30px;
  }
}
@media (min-width: 1364px) {
  .restaurants {
    gap: 50px 100px;
  }
}
.restaurants h2 {
  font-weight: bold;
  font-size: 2rem;
  color: black;
  width: 100%;
  margin-left: 5%;
}
@media (max-width: 600px) {
  .restaurants h2 {
    font-size: 155%;
  }
}

.restaurants__card {
  display: block;
  width: 90%;
  height: 24%;
  max-height: 315px;
  padding-bottom: 0.5%;
  border-radius: 15px;
  background-color: white;
  position: relative;
  box-shadow: 0px 0px 15px #b8b8b8;
}
@media (min-width: 701px) {
  .restaurants__card {
    width: 35%;
    max-width: 435px;
    height: 30%;
    max-height: 170px;
    padding-bottom: 2%;
  }
}
.restaurants__card--picture {
  height: 70%;
  border-radius: 15px 15px 0 0;
  position: relative;
  overflow: hidden;
}
.restaurants__card--picture img {
  width: 130%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.restaurants__card--quote {
  display: flex;
  margin: 3% 7% 0 5%;
  position: relative;
}
.restaurants__card--quote .card__quote--txt h4 {
  margin-bottom: 2%;
  font-size: 150%;
}
@media (min-width: 701px) {
  .restaurants__card--quote .card__quote--txt h4 {
    font-size: 130%;
  }
}
.restaurants__card--quote .card__quote--txt p {
  font-size: 150%;
  font-family: "Roboto-regular", Arial;
  color: #5f5f5f;
}
@media (min-width: 701px) {
  .restaurants__card--quote .card__quote--txt p {
    font-size: 120%;
  }
}
.restaurants__card--quote .card__quote--icon i {
  font-size: 200%;
  cursor: pointer;
  height: 50px;
  margin-top: 2.5%;
  position: absolute;
  top: 0;
  right: 15px;
}
@media (min-width: 701px) {
  .restaurants__card--quote .card__quote--icon i {
    font-size: 150%;
  }
}
.restaurants__card--new {
  position: absolute;
  font-size: 160%;
  padding: 1.5% 2.5% 1% 2.5%;
  background-color: #99E2D0;
  color: #2b987d;
  top: 7%;
  right: 5%;
  border-radius: 3px 3px 3px 3px;
}
@media (min-width: 701px) {
  .restaurants__card--new {
    font-size: 80%;
  }
}

.menu {
  width: 100%;
  padding-bottom: 120px;
  border-radius: 30px 30px 0 0;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -12vh;
}
@media (min-width: 701px) {
  .menu {
    margin-top: 0;
    border-radius: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
  }
}
.menu__heading {
  width: 100%;
  padding: 34px 0 50px 0;
  background-color: #f0f0f0;
  border-radius: 70px 70px 0 0;
  position: relative;
}
@media (min-width: 701px) {
  .menu__heading {
    width: 80%;
  }
}
.menu__heading h1 {
  font-family: "Shrikhand", Arial;
  font-weight: 400;
  max-width: 305px;
  padding-right: 50px;
  padding-left: 25px;
}
.menu__heading i {
  height: 60px;
  font-size: 190%;
  color: #454545;
  position: absolute;
  top: 35px;
  right: 5%;
  cursor: pointer;
}
.menu__heading .transparent-heart {
  color: transparent;
}
.menu__block {
  width: 85%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px 0;
}
@media (min-width: 701px) {
  .menu__block {
    flex-direction: row;
    flex-wrap: wrap;
    width: 400px;
    height: 550px;
    margin-right: 25px;
    margin-left: 25px;
    gap: 0;
  }
}
.menu__block h2 {
  width: 107%;
  font-family: "Roboto-regular", Arial;
  color: #454545;
  font-weight: 400;
  font-size: 170%;
  position: relative;
}
@media (min-width: 701px) {
  .menu__block h2 {
    font-size: 130%;
  }
}
.menu__block h2::after {
  content: "";
  height: 0.2rem;
  width: 4.5rem;
  background-color: #99E2D0;
  position: absolute;
  top: 2rem;
  left: 0;
}
.menu__block--card {
  position: relative;
  width: 100%;
  height: 90px;
  border-radius: 20px;
  background-color: white;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 15px #b8b8b8;
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
  animation: card-apparition 0.8s forwards linear;
}
.menu__block--card:nth-child(1) {
  animation-delay: 0.3s;
}
.menu__block--card:nth-child(2) {
  animation-delay: 0.6s;
}
.menu__block--card:nth-child(3) {
  animation-delay: 0.9s;
}
.menu__block--card:nth-child(4) {
  animation-delay: 1.2s;
}
.menu__block--card:nth-child(5) {
  animation-delay: 1.5s;
}
.menu__block--card:hover .card__check {
  transform: translateX(0);
}
.menu__block--card:hover .card__check i {
  transform: rotate(2turn);
}
.menu__block--card:hover .card > .card__price {
  padding-right: 85px;
}
.menu__block--card .card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.menu__block--card .card .card__presentation {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  overflow: hidden;
}
.menu__block--card .card .card__presentation h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 2rem;
  color: black;
  font-size: 110%;
}
@media (max-width: 600px) {
  .menu__block--card .card .card__presentation h3 {
    font-size: 155%;
  }
}
@media (min-width: 701px) {
  .menu__block--card .card .card__presentation h3 {
    font-size: 100%;
  }
}
@media (max-width: 600px) {
  .menu__block--card .card .card__presentation h3 {
    font-size: 110%;
  }
}
.menu__block--card .card .card__presentation--quote {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Roboto-regular", Arial;
  color: #454545;
  font-size: 100%;
}
@media (min-width: 701px) {
  .menu__block--card .card .card__presentation--quote {
    font-size: 85%;
  }
}
.menu__block--card .card .card__price {
  font-family: "Roboto-regular", Arial;
  color: #454545;
  font-weight: bold;
  font-size: 120%;
  padding-right: 10px;
  padding-left: 10px;
  transition: all 0.5s cubic-bezier(0.37, 0.05, 0, 0.91);
}
@media (min-width: 701px) {
  .menu__block--card .card .card__price {
    font-size: 95%;
  }
}
.menu__block--card .card__check {
  position: absolute;
  right: 0;
  border-radius: 0 20px 20px 0;
  width: 5rem;
  height: 100%;
  display: flex;
  align-items: center;
  align-self: center;
  flex-shrink: 0;
  background-color: #99E2D0;
  transform: translateX(6.2rem);
  transition: all 0.5s cubic-bezier(0.37, 0.05, 0, 0.91);
}
@media (max-width: 415px) {
  .menu__block--card .card__check {
    height: 8rem;
    transform: translateX(5rem);
  }
}
@media (min-width: 701px) {
  .menu__block--card .card__check {
    flex-shrink: 1;
  }
}
.menu__block--card .card__check i {
  margin: auto;
  padding: 5px;
  border-radius: 50px;
  color: #99E2D0;
  background-color: white;
  transform: rotate(0);
  transition: all 0.5s cubic-bezier(0.37, 0.05, 0, 0.91);
}
.menu__btn {
  margin-top: 40px;
  margin-bottom: 15px;
}
@media (min-width: 701px) {
  .menu__btn {
    margin-right: 35%;
    margin-left: 35%;
  }
}

/*# sourceMappingURL=style.css.map */
