//polices
@mixin input-font-family ($ff){
    font-family: map-get($input-font-family, $ff ), $font-family-default;
}

//listes
@mixin normal-style-list {
    list-style-type: none;
    display: flex;
}

//liens

@mixin normal-style-link {
    text-decoration: none;
    display: flex;
    color: black;
    align-items: baseline;
}

//titres
@mixin normal-style-title {
    margin: 0;
}

@mixin title {
    font-weight: bold;
    font-size: map-get($desktop-font-size, title);
    color: black;
    @media (max-width: 600px){
        font-size: map-get($smartphone-font-size, title);
    };
}

// shadow
@mixin shadow {
    box-shadow: 1px 0.5px 20px map-get($input-palette-gris, shadow); 
}

@mixin global-shadow {
    box-shadow: 0px 0px 15px map-get($input-palette-gris, global-shadow);
}

@mixin animation-shadow {
    box-shadow: 0 0 10px map-get($input-palette-gris, animation-shadow);
}
