// Variables couleurs
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-grey: #DEDEDE;
$color-white: white;

    //Palette de gris
        $input-palette-gris: (
            title-text: darken($color-grey, 60%),
            title-bg: $color-grey,
            shadow: darken($color-grey,35%),
            global-shadow: darken($color-grey,15%),
            animation-shadow:darken($color-grey,40%),
            bg: lighten($color-grey,7%),
            secondary-txt: darken($color-grey, 50%)
        );

    //Palette de violets
        $input-palette-violets: (
            violet: $color-primary,
            rose: $color-secondary,
            violet-clair: lighten($color-primary, 32%),
            violet-hover: lighten($color-primary, 4%),
            rose-hover: lighten($color-secondary,4%)
        );

    //Palettes de verts
        $input-palette-verts: (
            vert-clair: $color-tertiary,
            vert-fonce: darken($color-tertiary, 36%),
        );

// Variables polices

$font-family-title: 'Shrikhand';
$font-family-page: 'Roboto';
$font-family-secondary-txt: 'Roboto-regular';
$font-family-default: Arial;

$input-font-family: (
    title: $font-family-title,
    page: $font-family-page,
    secondary-txt: $font-family-secondary-txt,
);

        // Variables tailles
    // Destop
// textes
$title-font-size: 2rem;
$important-txt-font-size: 1.7rem;
$secondary-txt-font-size: 1.35rem;
//icons
$large-icon-font-size: 145%;
$medium-icon-font-size: 165%;
$small-icon-font-size: 100%;

    // Smartphone
// textes
$smartphone-title-font-size: 105%;
$smartphone-important-txt-font-size: 105%;
$smartphone-secondary-txt-font-size: 180%;
//icons
$smartphone-large-icon-font-size: 140%;
$smartphone-medium-icon-font-size: 110%;
$smartphone-small-icon-font-size: 100%;


    // Choix des tailles
        $desktop-font-size:(
            title: $title-font-size,
            important-txt: $important-txt-font-size,
            secondary-txt: $secondary-txt-font-size,
            large-icon:$large-icon-font-size,
            medium-icon:$medium-icon-font-size,
            small-icon:$small-icon-font-size,
        );
        $smartphone-font-size:(
            title: $smartphone-title-font-size,
            important-txt: $smartphone-important-txt-font-size,
            secondary-txt: $smartphone-secondary-txt-font-size,
            large-icon:$smartphone-large-icon-font-size,
            medium-icon:$smartphone-medium-icon-font-size,
            small-icon:$smartphone-small-icon-font-size,
        );


// Animations

$transition-duration: cubic-bezier(.37,.05,0,.91);

