.main-btn{
    padding: 20px;
    border: 0;
    border-radius: 50px;
    width: 295px;
    cursor: pointer;
    background-image: linear-gradient(to bottom, map-get($input-palette-violets, rose), map-get($input-palette-violets, violet));
    color: $color-white;
    font-size: 145%;
    @include global-shadow;
    @media (min-width: 701px) {
        padding: 30px 15px 30px 15px;
        width: 300px;
        font-size: map-get($desktop-font-size, secondary-txt);
    }
}