.explore-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: map-get($input-palette-gris, bg);    
    padding: 60px 0 70px 0;
    margin-bottom: 45px;
    @media (min-width: 701px) {
        padding: 45px 0 60px 0;
    }
    h1{
        text-align: center;
        margin-bottom: 3%;
        width: 60%;
        @include title;
    }
    p{
        text-align: center;
        margin-bottom: 4%;
        width: 80%;
        font-size: 130%;
        @include input-font-family (secondary-txt);
        color: map-get($input-palette-gris, secondary-txt);
        @media (min-width: 701px) {
            width: 88%;
        }
    }    
}