.menu{
    width: 100%;
    padding-bottom: 120px;
    border-radius: 70px 70px 0 0;
    background-color: map-get($input-palette-gris, bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -12vh;
    @media (min-width: 701px) {
        margin-top: 0;
        border-radius: 0;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    } 
    &__heading{
        width: 90%;
        padding: 34px 5% 50px 5%;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        background-color: map-get($input-palette-gris, bg);
        border-radius: 70px 70px 0 0;
        @media (min-width: 701px) {
            width: 80%;
        } 
        h1{
           @include input-font-family (title); 
           font-weight: 400;
           font-size: 320%;
        }      
        i{
            font-size: 270%;
            color: map-get($input-palette-gris, title-text);
        }  
    }
    &__block{
        width: 85%;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px 0;
        @media (min-width: 701px) {
            flex-direction: row;
            flex-wrap: wrap;
            width: 350px;            
            height: 425px;
            margin-right: 25px;
            margin-left: 25px;
            gap: 0;
        } 
        h2{    
            width: 107%;
            @include input-font-family (secondary-txt);
            color: map-get($input-palette-gris, title-text);
            font-weight: 400;
            font-size: 170%;
            @media (min-width: 701px) {
                font-size: 130%;
            } 
        }        
        &--card{
            width: 100%;
            padding: 20px;
            padding-right: 30px;
            border-radius: 20px 20px 20px 20px;
            background-color: $color-white;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            @include global-shadow;
            .card__presentation{                
                h3{
                    margin-bottom: 10px;
                    @include title;
                    font-size: 160%;
                    @media (min-width: 701px) {
                        font-size: 100%;
                    } 
                }
                &--quote{
                    @include input-font-family (secondary-txt);
                    color: map-get($input-palette-gris, title-text);
                    font-size: 130%;
                    @media (min-width: 701px) {
                        font-size: 85%;
                    } 
                }
            }
            .card__price{
                @include input-font-family (secondary-txt);
                color: map-get($input-palette-gris, title-text);
                font-weight: bold;
                font-size: 135%;
                @media (min-width: 701px) {
                    font-size: 95%;
                } 
            }
        }
    }
    &__btn{
        margin-top: 40px;
        margin-bottom: 15px;
        @media (min-width: 701px) {
            margin-right: 35%;
            margin-left: 35%;
        } 
    }
}